.Game {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    color: whitesmoke;
}
.Game.yourGo {
    background-color: rgba(0, 128, 0, 0.445);
}

.playerList {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.player {
    opacity: 0.4;
    display: inline-block;
    padding: 10px;
}
.player p {
    margin: 0px;
}
.player.isYourGo {
    opacity: 1;
    font-weight: 900;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
}

.hand {
    margin-top: 50px;
}

.example-enter {
    opacity: 0.01;
}
.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.example-leave {
    opacity: 1;
}
.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
