.Game {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    color: whitesmoke;
}

.card {
    padding: 5px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.096);
    display: inline-block;
    border-radius: 10px;
}
.card img {
    width: 70px;
}
.card.inHand:hover {
    background-color: rgba(245, 245, 245, 0.253);
    cursor: pointer;
}
.player {
    opacity: 0.4;
    display: inline-block;
    padding: 10px;
}
.player.true {
    opacity: 1;
    font-weight: 900;
    background-color: rgba(245, 245, 245, 0.096);
    border-radius: 10px;
}
.state {
    background-color: aliceblue;
    border-radius: 10px;
}
.state * {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    opacity: 0.4;
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.state p.true {
    color: green;
    background-color: rgba(0, 255, 0, 0.2);
}
.state p.false {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
}
