.App {
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}

.card {
    padding: 5px;
    margin: 0 auto;
    /* width: 0px; */
    background-color: rgb(243, 243, 243);
    display: inline-block;
}
.card img {
    width: 100px;
}
.card.inHand:hover {
    background-color: rgb(196, 196, 196);
    cursor: pointer;
}
.state {
    background-color: aliceblue;
    border-radius: 10px;
}
.state * {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    opacity: 0.4;
    color: black;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.state p.true {
    color: green;
    background-color: rgba(0, 255, 0, 0.2);
}
.state p.false {
    color: red;
    background-color: rgba(255, 0, 0, 0.2);
}
