.App {
    text-align: center;
}

.card {
    padding: 5px;
    margin: 0 auto;
    /* width: 0px; */
    background-color: rgb(243, 243, 243);
    display: inline-block;
}
.card img {
    width: 100px;
}
.card.inHand:hover {
    background-color: rgb(196, 196, 196);
    cursor: pointer;
}
.state * {
    display: inline;
    padding: 20px;
    opacity: 0.4;
}
.state p.true {
    color: green;
}
.state p.false {
    color: red;
}
